# create an account on https://myprojects.geoapify.com/login to generate a free API key. If technical issue, message @yeowoobee on discord
VITE_GEOAPIFY_KEY=1234567890abcdef
# please message @yeowoobee on discord to be added to the fb project and get the firebase api key. 
VITE_FIREBASE_API_KEY=abcdef1234567890abcdef